@import "config.variables";
@import "config.functions";

.Panel {
  margin-bottom: gutter(lg);
  background: #ffffff;
  border-radius: $border-radius;
}

.Panel-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: gutter(xs) gutter(md);
  border-bottom: 1px solid $color-grey--6;

  .Heading {
    margin: gutter(md) 0;
  }
}

.Panel-content {
  margin-bottom: 0;
  padding: gutter(md);
}
