@import "config.variables";
@import "config.functions";

.ActionBox {
  background-color: #fff;
  box-shadow: $box-shadow;
}

.ActionBox-content {
  padding: gutter(lg);
  font-family: $font-primary;
  font-size: font-size(sm);
  font-weight: 300;
  text-transform: none;
  color: $color-grey--3;

  p {
    margin: 0;
    padding: 0;
  }
}
