@import "config.variables";
@import "config.functions";

.FilterableList {
  min-width: 40rem;
  background-color: #fff;
  box-shadow: $box-shadow;
}

.FilterableList-search {
  padding: 0 gutter(md);
}

.FilterableList-search-input {
  display: block;
  padding: gutter(lg) gutter(sm);
  width: 100%;
  font-size: font-size(sm);
  font-weight: 300;
  border-bottom: solid 0.1rem $color-grey--7;

  &:active,
  &:focus {
    outline: none;
  }

  &:focus {
    border-bottom: solid 0.1rem $color-accent--2;
  }

  &::placeholder {
    color: $color-grey--6;
  }
}

.FilterableList-content {
  padding: gutter(md);
}

.FilterableList--scrollable .FilterableList-content {
  max-height: 40rem;
  overflow: auto;
}

.FilterableList-collection {
  list-style: none;
  margin: 0;
  padding: 0;
}

.FilterableList-item {
  display: flex;
  align-items: center;
  margin-bottom: gutter(md);

  &:last-child {
    margin-bottom: 0;
  }
}

.FilterableList-item--isHidden {
  display: none;
}

.FilterableList-item--clickable {
  cursor: pointer;
}

.FilterableList-item-avatar {
  flex: 0 0 gutter(xl);
  width: gutter(xl);
  height: gutter(xl);
  background-color: rgba($color-accent--2, 0.5);
  border-radius: 50%;
}

.FilterableList-item-title {
  flex: 1;
  margin: 0 gutter(md);
  font-size: font-size(sm);
}
