@import "config.variables";
@import "config.functions";

/**
 * <TaxonomySearch />
 */

.TaxonomySearch {
  position: relative;
  width: 100%;
}

/**
 * <TaxonomySearchResults />
 */

.TaxonomySearch-results {
  position: absolute;
  top: 100%;
  width: 100%;
  padding: gutter(md);
  margin-top: gutter(sm);
  background-color: white;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}

/**
 * <TaxonomySearchTaxonomy />
 */

.TaxonomySearch-taxonomy {
  padding: gutter(xs) gutter(xs);
}

.TaxonomySearch-taxonomy:hover {
  background-color: rgba($color-accent--2, 0.1);
}

.TaxonomySearch-taxonomy-breadcrumb {
  color: $color-grey--3;
}
