@import "config.variables";
@import "config.functions";

/**
 * <EntityError />
 *
 * Full page error for errors on retrieval of document, architecture
 */

.EntityError {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2*gutter(xx);
}

.EntityError-main {
  display: flex;
  flex-direction: column;
  font-size: x-large;
  padding: gutter(xl) gutter(xx) gutter(md) gutter(xx);
  min-height: 100%;
  background-color: $color-grey--6;
  align-items: center;
}

.EntityError-cta {
  display: flex;
  font-size: x-large;
  min-height: 100%;
  background-color: $color-grey--6;
}

.EntityError-image {
  display: flex;
  width: 25%
}
