@import "config.variables";
@import "config.functions";

.Document {
}

/**
 * <DocumentControls />
 *
 * This is the grouping of <DocumentControl /> components.
 */

$document-controls-padding-v: gutter(sm);
$document-controls-padding-h: gutter(sm);

.Document-controls {
  display: flex;
  width: 100%;
}

.Document-controls-group {
  display: flex;
  flex: 0 1 auto;
  padding: $document-controls-padding-v $document-controls-padding-h;
  border-right: solid 0.1rem $color-grey--6;
}

.Document-controls-group .Dropdown-menu {
  transform: translate(-$document-controls-padding-v,0);
}

/**
 * <DocumentControl />
 *
 * These are control buttons that control the appearance of text in the document
 * editor.
 */

$document-control-height: 2.5rem;

.Document-control {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: gutter(xs);
  height: $document-control-height;
  color: $color-accent--2;
  font-family: $font-secondary;
  font-size: font-size(sm);
  line-height: $document-control-height;
  letter-spacing: $letter-spacing;
  text-transform: uppercase;

  &:active,
  &:focus {
    outline: none;
  }

  &:last-child {
    margin-right: 0;
  }

  &.is-active {
    background-color: $color-grey--6;
  }
}

.Document-control--iconOnly {
  flex: 0 0 $document-control-height;
  width: $document-control-height;
}

.Document-architecture-popup--content {
  font-family: $font-secondary;
  font-size: font-size(sm);
}

.Document-architecture-popup--header {
  color: $color-accent--2;
  line-height: $document-control-height;
  letter-spacing: $letter-spacing;
  text-transform: uppercase;
}

.Document-architecture-popup--breadcrumbs {
  display: flex;
  position: absolute;
  left: 50%;
  margin: 0;
  padding: 0 0 0 1rem;
  width: auto;
  list-style: inside;
  transform: translateX(-50%);
}

.Document-architecture-popup--actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: gutter(sm);
}

.Document-architecture-popup--bullet {
  width: 2rem;
  font-size: 1.5em;
  color: $color-grey--6;
  cursor: pointer;
}

.Document-architecture-popup--bullet-active {
  color: $color-grey--1;
}

/**
 * <DocumentMain />
 *
 * A simple wrapper around the main contents of the document, i.e. the status,
 * title, and editor.
 */

.Document-main {
  display: flex;
  flex-direction: column;
  padding: gutter(xl) gutter(xx);
  min-height: 100%;
  background-color: #fff;
  box-shadow: $box-shadow;
}

/**
 * <DocumentStatus />
 *
 * This displays the status of the document, and lives just above the title and
 * editor. Status can be new, saved, updated, etc, and may also display offline
 * or error messages.
 */

.Document-status {
  margin: 0 0 gutter(md) 0;
}

/**
 * <DocumentTitle />
 *
 * The document title, which is a user editable input.
 */

.Document-title {
  margin: 0 0 gutter(md) 0;
  color: $color-grey--3;
  font-size: font-size(lg);
  font-weight: 700;
  line-height: line-height(sm);

  &::placeholder {
    color: $color-grey--5;
  }

  &:active,
  &:focus {
    outline: none;
  }
}

/**
 * <DocumentBlocks />
 */

.Document-blocks {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/**
 * <DocumentBlock />
 *
 * A document block. Acts as a container for various block types that may exist
 * in an architecture:
 *
 * 1. html - renders a <DocumentEditor />
 * 2. architecture - renders a <DocumentArchitecture />
 *
 * Different block type styles are defined below.
 */

.Document-block {
  margin-bottom: gutter(lg);

  &:last-child {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 0;
    z-index: 0;
  }
}

/**
 * <DocumentArchitecture />
 *
 * Documents may have architectures. This is the document architecture styles.
 */

.Document-architecture {
}

.Document-architecture .Architecture-content {
  padding: gutter(lg) gutter(xl);
  background-color: $color-grey--7;
}

/**
 * <DocumentArchitecturePrompt />
 *
 * Document architectures may have text prompts above them.
 * The text prompts may be animated when a user tries to edit a disabled
 * architecture.
 */

 $animation-distance: 8px;
 $easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);

 @keyframes prompt-highlight {
   0%   {
     opacity: 0;
     transform: translateY(-$animation-distance);
   }
   35% {
     opacity: 1;
     transform: translateY(0);
   }
   65% {
     opacity: 1;
     transform: translateY(0);
   }
   100% {
     opacity: 0;
     transform: translateY($animation-distance/2);
   }
 }

 .Document-architecture-prompt-wrapper {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
 }

.Document-architecture-prompt {
  position: relative;
  margin-bottom: gutter(md);
  padding-bottom: $animation-distance;
  color: $color-accent--2;
  font-family: $font-secondary;
  font-size: font-size(sm);
  font-weight: 400;
  letter-spacing: $letter-spacing;
  text-transform: uppercase;
  text-align: right;
}

.Document-architecture-prompt {
  &:before {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: $color-accent--2;
    opacity: 0;
    transform: translateY(-$animation-distance);
  }
  &.animate {
    &:before {
      animation: prompt-highlight $easeOutBack .5s;
    }
  }
}

/**
 * <DocumentCommentThread />
 */

.Document-commentThread {
}

.Document-commentThread-loading {
}

.Document-commentThread-dismiss {
  margin-bottom: gutter(lg);
  color: $color-accent--2;
  font-family: $font-secondary;
  font-size: font-size(xxs);
  font-weight: 400;
  letter-spacing: $letter-spacing;
  text-transform: uppercase;
  text-align: right;
}

/**
* <DocumentSearch />
*/

.DocumentSearch {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.DocumentSearch-searchbar {
  border-bottom: solid 0.1rem $color-grey--6;
}

.DocumentSearch-results {
  flex: 0 1 auto;
  overflow: auto;
}

.DocumentSearch-results-noresults {
  padding: gutter(md);
}
