@import "config.variables";
@import "config.functions";

/**
 * <StatusText />
 *
 * This is small, light, uppercase text for doc, architecture, etc. metadata
 * such as published or updated dates. Appears above entity titles.
 */

.StatusText {
  color: $color-grey--5;
  font-family: $font-secondary;
  font-size: font-size(sm);
  text-transform: uppercase;
  letter-spacing: $letter-spacing;
}

.StatusText-Error {
  color: $color-red--2;
}