@import "~draft-js/dist/Draft.css"; // @note: import draft default styles
@import "config.variables";
@import "config.functions";

/**
 * <Editor />
 *
 * The editor is the containing component of the editor. The actual editor is
 * powered by draftjs.org. Here are some targeted styles to get our desired
 * appearance.
 */

.Editor {
  display: flex;
  flex-direction: column;
  flex: 1;
  z-index: -1;

  .DraftEditor-root {
    display: flex;
    flex-direction: column;
    flex: 1;
    color: $color-grey--3;
    font-size: font-size(sm);
    line-height: line-height(lg);
  }

  .public-DraftEditorPlaceholder-root {
    display: flex;
    flex-direction: column;
    flex: 1;
    color: $color-grey--5;
  }

  .DraftEditor-editorContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .public-DraftEditor-content {
    flex: 1;
    min-height: font-size(sm) * line-height(lg) * 2;
    cursor: text;
  }

  .public-DraftStyleDefault-ol,
  .public-DraftStyleDefault-ul {
    margin: 0;
    padding: 0;
  }

  .public-DraftStyleDefault-unorderedListItem,
  .public-DraftStyleDefault-orderedListItem {
    margin: 0 0 0 gutter(xl);
    padding: 0;
  }


  // loop over max depth for lists
  @for $i from 1 through 8 {
    $gutter: gutter(xl) + gutter(md) * $i;

    .public-DraftStyleDefault-depth#{$i} {
      margin: 0 0 0 $gutter;
    }
  }
  .public-DraftStyleDefault-depth1 {
    margin: 0 0 0 (gutter(xl) + gutter(md));
  }

  // Forcefully hides the placeholder if and when necessary.
  &.Editor--hidePlaceholder .public-DraftEditorPlaceholder-root {
    display: none;
  }
}

/**
 * <EditorLink />
 *
 * The editor link is a custom component passed to the draft.js linkify plugin
 * for URLs detected by the editor.
 */

 .EditorLink {
   position: relative;
   color: $color-accent--2;
 }

 .EditorLink .Popover-toggle {
   cursor: text;   
 }
