.Grid { display: flex; width: 100%; }
.Grid--display-flex { display: flex; }
.Grid--display-inlineFlex { display: inline-flex; }

/**
 * Wrap modifiers
 */

.Grid--wrap-nowrap { flex-wrap: nowrap; }
.Grid--wrap-wrap { flex-wrap: wrap; }
.Grid--wrap-wrapReverse { flex-wrap: wrap-reverse; }

/**
 * Directional modifiers
 */

.Grid--direction-row { flex-direction: row; width: 100%; }
.Grid--direction-rowReverse { flex-direction: row-reverse; width: 100%; }
.Grid--direction-column { flex-direction: column; height: 100%; }
.Grid--direction-columnReverse { flex-direction: column-reverse; height: 100%; }

/**
 * Alignment modifiers
 */

.Grid--align-flexStart { align-items: flex-start; }
.Grid--align-flexEnd { align-items: flex-end; }
.Grid--align-center { align-items: center; }
.Grid--align-baseline { align-items: baseline; }
.Grid--align-stretch { align-items: stretch; }

/**
 * Justification modifiers
 */

.Grid--justify-center { justify-content: center; }
.Grid--justify-start { justify-content: start; }
.Grid--justify-end { justify-content: end; }
.Grid--justify-flexStart { justify-content: flex-start; }
.Grid--justify-flexEnd { justify-content: flex-end; }
.Grid--justify-left { justify-content: left; }
.Grid--justify-right { justify-content: right; }
.Grid--justify-baseline { justify-content: baseline; }
.Grid--justify-firstBaseline { justify-content: first baseline; }
.Grid--justify-lastBaseline { justify-content: last baseline; }
.Grid--justify-spaceBetween { justify-content: space-between; }
.Grid--justify-spaceAround { justify-content: space-around; }
.Grid--justify-spaceEvenly { justify-content: space-evenly; }
.Grid--justify-stretch { justify-content: stretch; }
.Grid--justify-safeCenter { justify-content: safe center; }
.Grid--justify-unsafeCenter { justify-content: unsafe center; }

/**
 * Cells
 */

.Grid-cell {}
