@import "config.variables";
@import "config.functions";

.SharedDocument {
}

.SharedDocument-main {
  display: flex;
  flex-direction: column;
  padding: gutter(xl) gutter(xx);
  min-height: 100%;
  background-color: #fff;
  box-shadow: $box-shadow;
}

.SharedDocument-status {
  margin: 0 0 gutter(md) 0;
}

.SharedDocument-status-text {
  color: $color-grey--5;
  font-family: $font-secondary;
  font-size: font-size(sm);
  text-transform: uppercase;
  letter-spacing: $letter-spacing;
}

.SharedDocument-title {
  margin: 0 0 gutter(md) 0;
  color: $color-grey--3;
  font-size: font-size(lg);
  font-weight: 700;
  line-height: line-height(sm);
}

.SharedDocument-blocks {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.SharedDocument-block {
  margin-bottom: gutter(lg);

  &:last-child {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 0;
    z-index: 0;
  }
}

.SharedDocument-architecture {
}

.SharedDocument-architecture .Architecture-content {
  padding: gutter(lg) gutter(xl);
  background-color: $color-grey--7;
}

/**
 * <SharedDocumentComments />
 */

.SharedDocument-commentThread {
}

.SharedDocument-commentThread-dismiss {
  margin-bottom: gutter(lg);
  color: $color-accent--2;
  font-family: $font-secondary;
  font-size: font-size(xxs);
  font-weight: 400;
  letter-spacing: $letter-spacing;
  text-transform: uppercase;
  text-align: right;
}
