@import "config.variables";
@import "config.functions";

/**
 * <Tabs />
 */

.Tabs {
}

/**
 * <TabsTabs />
 */

.Tabs-tabs {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.Tabs--compact .Tabs-tabs {
  margin: 0 gutter(md);
  padding: 0 0 gutter(lg) 0;
  border-bottom: solid 0.1rem $color-grey--5;
}

/**
 * <TabsTab />
 */

.Tabs-tab {
  margin: 0 gutter(md) 0 0;
  padding: gutter(sm);
  flex: 1;
  color: $color-grey--3;
  font-family: $font-secondary;
  font-size: font-size(sm);
  letter-spacing: $letter-spacing;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  &.is-active {
    color: #fff;
    background-color: $color-accent--2;
  }
}

.Tabs--compact .Tabs-tab {
  padding: 0;
  color: $color-grey--5;
  background: none;
  font-weight: 600;

  &.is-active {
    color: $color-accent--2;
    background: none;
  }
}

.Tabs--align-left {
  text-align: left;
}

.Tabs--align-right {
  text-align: right;
}

.Tabs--outline {
  margin: 0;
  background: $color-grey--8;
  border-right: 0.1rem solid $color-grey--6;
  border-bottom: 0.1rem solid $color-grey--6;
}

.Tabs--outline:first-child {
  border-top-left-radius: $border-radius;
}

.Tabs--outline:last-child {
  border-top-right-radius: $border-radius;
}

.Tabs--bgColor-teal {
  &.is-active {
    background-color: $color-accent--teal-1;
  }
}


/**
 * <TabsPanes />
 */

.Tabs-panes {
  margin: 0;
  padding: 0;
}

/**
 * <TabsPane />
 */

.Tabs-pane {
  display: block;
  padding: gutter(lg) 0;
}

.Tabs--pane-background {
  background-color: $color-grey--8;
  padding: gutter(lg);
}

.Tabs--pane-background:first-child {
  border-bottom-left-radius: $border-radius;
}

.Tabs--pane-background:last-child {
  border-bottom-right-radius: $border-radius;
}