@import "config.variables";
@import "config.functions";

.ActionList {
  list-style: none;
  margin: 0;
  padding: gutter(sm) 0;
  background-color: #fff;
  box-shadow: $box-shadow;
}

.ActionList-item {
  display: block;
  margin: 0;
  padding: gutter(sm) gutter(md);
  font-family: $font-secondary;
  font-size: font-size(sm);
  letter-spacing: $letter-spacing;
  text-transform: uppercase;
  cursor: pointer;

  &:last-child {
    margin: 0;
  }

  &:hover {
    background-color: $color-grey--7;
  }
}
