@import "config.variables";
@import "config.functions";

/**
 * <TaxonomyPage />
 * The Active Taxonomy page.
 */

.TaxonomyPage {
  // overriding container min width for now
  // page-by-page responsiveness; can change main $container-max eventually
  .Dashboard {
    min-width: $container-max-responsive;
  }
}

/**
 * <TaxonomyPageContent />
 * A simple wrapper for the taxonomy detail content.
 */

.TaxonomyPage-content {}

.TaxonomyPage-title {
  font-size: font-size(lg);
  font-weight: 700;
  line-height: line-height(sm);
  margin: gutter(md) 0;
}
