@import "config.variables";
@import "config.functions";

/**
 * <ArchitectureReviewTerm/>
 *
 * Check src/stories/ArchitectureReviewTerm.jsx for implementation.
 */

.ArchitectureReviewTerm {
}

.ArchitectureReviewTerm-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: gutter(md);
}

.ArchitectureReviewTerm-term {
  margin-right: gutter(md);
  color: $color-accent--2;
  font-family: $font-secondary;
  font-size: font-size(sm);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: $letter-spacing;

  span {
    display: inline-block;
  }
}

.ArchitectureReviewTerm-term--isRejected {
  color: $color-grey--5;

  span {
    text-decoration: line-through;
  }
}

.ArchitectureReviewTerm-actions {
}

.ArchitectureReviewTerm-search {
  padding: gutter(lg) gutter(md);
  box-shadow:
    inset 0 17px 17px -17px $color-box-shadow,
    inset 0 -17px 17px -17px $color-box-shadow;
}

.ArchitectureReviewTerm:last-child .ArchitectureReviewTerm-search {
  box-shadow: inset 0 17px 17px -17px $color-box-shadow;
}

.ArchitectureReviewTerm-search-header {
  display: flex;
  align-items: center;
  margin: 0 0 gutter(md) 0;
}

.ArchitectureReviewTerm-search-header-title {
  flex: 1;
  margin-right: gutter(md);
  color: $color-accent--2;
  font-family: $font-secondary;
  font-size: font-size(sm);
  text-transform: uppercase;
  letter-spacing: $letter-spacing;
}

.ArchitectureReviewTerm-search-input {
  margin-bottom: gutter(xs);
}

.ArchitectureReviewTerm-search-helper {
  font-family: $font-secondary;
  font-size: font-size(xxs);
}

.ArchitectureReviewTerm-search-results {
  overflow: auto;
  margin-top: gutter(lg);
  padding-top: gutter(lg);
  max-height: 21rem;
  border-top: solid 0.1rem $color-grey--7;
}

.ArchitectureReviewTerm-search-results-group {
  margin-bottom: gutter(xl);

  &:last-child {
    margin-bottom: 0;
  }
}
