@import "config.variables";
@import "config.functions";

/**
 * <ArchitectureReviewTerms/>
 *
 * Check src/stories/ArchitectureReviewTerms.jsx for implementation.
 */

.ArchitectureReviewTerms {
}

.ArchitectureReviewTerm-search-results-message {
  font-size: font-size(xxs);
}
