@import url('https://cdn.jsdelivr.net/searchkit/0.9.0/theme.css');
@import "config.variables";
@import "config.functions";

/**
 * <SearchKitActionBar />
 *
 * This is a simple container for actions and data above search results.
 */

.SearchKit-action-bar {
  margin: gutter(md);
}

/**
 * <SearchKitReset />
 *
 * Control to reset search filters.
 */

.SearchKit-reset {
  margin-bottom: gutter(lg);
  color: $color-accent--2;
  font-family: $font-secondary;
  font-size: font-size(xxs);
  font-weight: 400;
  letter-spacing: $letter-spacing;
  text-transform: uppercase;
  text-align: right;
}

.SearchKit-reset.SearchKit-reset--disabled {
  color: $color-grey--5;
}

/**
 * <SearchKitFilterOption />
 *
 * This is a simple container for ES search sidebar filters.
 */

.SearchKit-filter-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: gutter(xs);
}

.SearchKit-filter-option-count {
  color: $color-grey--3;
}

/**
 * <SearchKitRefinementListTools />
 *
 * Control to reset search filters.
 */

.SearchKit-refinement-list-tools {
  display: flex;
  flex-direction: row;
}

.SearchKit-refinement-list-tool {
  padding: gutter(xxs) gutter(xs);
  background: $color-grey--7;
  color: $color-accent--1;
  border-radius: $border-radius;
  text-transform: none;
  font-weight: normal;
  cursor: pointer;

  +.SearchKit-refinement-list-tool {
    margin-left: gutter(xs);
  }
}

/**
 * <SearchKitRefinementListOperatorToggle />
 *
 * Dropdown to switch the operator for SearchKit filter set.
 */

.SearchKit-operator-dropdown {}

.SearchKit-refinement-list-operator-toggle {}

.SearchKit-refinement-list-search-bar {
  display: none;

  .SearchBar {
    margin-bottom: gutter(md);
  }
}

.SearchKit-refinement-list-search-bar--open {
  display: block;
}

/**
 * <SearchKitRefinementListOperatorToggle />
 *
 * Dropdown to switch the operator for SearchKit filter set.
 */

 .SearchKit-operator-dropdown {}

 .SearchKit-refinement-list-operator-toggle {
   padding: gutter(xxs) gutter(xs);
   background: $color-grey--7;
   border-radius: $border-radius;
   text-transform: none;
   font-weight: normal;
   cursor: pointer;
 }

/**
 * <SelectedFilters />
 *
 * Overrides for Searchkit selected filters component.
 */

.sk-selected-filters {
  margin: gutter(md);
}

.sk-selected-filters-option {
  padding: gutter(sm) 0 gutter(sm) gutter(sm);
  margin-right: gutter(sm);
  margin-bottom: gutter(sm);
  border-radius: 0;
  background: $color-grey--7;
}

.sk-selected-filters-option__name {
  font-size: font-size(sm);
  line-height: inherit;
  color: $color-grey--3;
}

.sk-selected-filters-option__remove-action {
  padding: 0 gutter(md) 0 gutter(sm);
  margin-left: gutter(sm);
  border-left: 1px solid $color-grey--5;
}

/**
 * <ViewSwitcherHits />
 *
 * Overrides for Searchkit <ViewSwitcherHits />, which contains hits list.
 */

.sk-hits-list {
  margin: gutter(md);
}

.sk-hits-list a {
  color: $color-accent--2;
}

/**
 * <Panel />
 *
 * Overrides for Searchkit <Panel />, which contains filters.
 */

.sk-panel {
  margin-bottom: gutter(md);
}

.sk-panel__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  color: $color-grey--1;
  font-family: $font-secondary;
  font-size: font-size(sm);
  text-transform: uppercase;
  letter-spacing: $letter-spacing;
  margin: 0 0 gutter(md) 0;
  font-size: font-size(sm);
}

/**
 * <SearchBox />
 *
 * Overrides for Searchkit <SearchBox />. Variables from ArQ <SearchBar />
 */
$search-bar-height: 2.5rem;
$search-bar-padding-v: gutter(sm);
$search-bar-padding-h: gutter(md);
$search-icon-w: 1.4rem;
$search-icon-h: 1.4rem;
$search-bar-border: 0.1rem;

.sk-search-box {
  border-radius: 0px;
  background-color: #fff;
}

.sk-search-box .sk-search-box__text::-webkit-input-placeholder,
.sk-search-box.is-focused .sk-search-box__text::-webkit-input-placeholder {
  color: $color-grey--5;
  font-weight: 400;
}

.sk-search-box__text {
  padding:
    $search-bar-padding-v
    $search-bar-padding-h*2 + $search-icon-w
    $search-bar-padding-v $search-bar-padding-h;
  width: 100%;
  background-color: #fff;
  font-family: $font-primary;
  font-size: font-size(sm);
  line-height: $search-bar-height;
  color: $color-grey--3;

  &:active,
  &:focus {
    outline: none;
  }

  &::placeholder {
    color: $color-grey--5;
  }

  &[readonly] {
    opacity: 0.3;
  }
}

/**
 * <RefinementListFilter />
 *
 * Overrides for Searchkit <RefinementListFilter /> and children.
 */

.sk-refinement-list__view-more-action {
  font-size: font-size(xs);
  color: $color-accent--2;
  margin-top: gutter(xs);
}

/**
 * <Pagination />
 *
 * Overrides for Searchkit <Pagination /> and children.
 */

 .sk-pagination-navigation {
   margin-bottom: gutter(lg);
 }

.sk-toggle {
  border-radius: 0px;
}

.sk-toggle-option {
  border: 1px solid $color-accent--2;
  color: #fff;
  background-color: $color-accent--2;
  border-right: none;
  margin-left: 1px;
  font-family: $font-secondary;
  font-size: font-size(md);
  font-weight: 400;
  text-transform: uppercase;
}

.sk-toggle-option:hover {
  background-color: darken($color-accent--2, 5%);
  border-color: darken($color-accent--2, 5%);
}

.sk-toggle-option:first-child {
  border-radius: 0px;
}

.sk-toggle-option:last-child {
  border-radius: 0px;
  border-right: 1px solid $color-accent--2;
}

.sk-toggle-option.is-active {
  color: #fff;
  background-color: $color-accent--1;
  border-color: $color-accent--1;
}

.sk-toggle-option.is-disabled, .sk-toggle-option.is-disabled:hover {
  color: #fff;
  background-color: $color-accent--2;
  border-color: $color-accent--2;
}

.sk-toggle-option__text {}
