@import "config.variables";
@import "config.functions";

.AdminTaxonomyPage {}

.AdminTaxonomyPage-core {}

.AdminTaxonomyPage-core-create {
  width: 30rem;
  color: $color-grey--3;
}

.AdminTaxonomyPage-core-tree {
  padding: gutter(md);
  background: #fff;
}

.AdminTaxonomyPage-sidebar {
  height: 100%;
  overflow: auto;
}

.AdminTaxonomyPage-merge {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.AdminTaxonomyPage-merge-source {
  margin: 0 0 gutter(xs) 0;
  padding: gutter(xxs) gutter(xs);
  font-size: font-size(sm);
  text-transform: uppercase;
  text-align: right;
  background-color: $color-grey--7;
}

.AdminTaxonomyPage-merge-tree {
  flex: 1 1 100%;
  overflow: auto;
  padding: gutter(md) gutter(sm);
}

.AdminTaxonomyPage-merge-controls {
  padding: gutter(md);
  background: #fff;
  border-top: solid 0.1rem $color-grey--5;
}

.AdminTaxonomyPage-merge-controls-preview {
  margin-bottom: gutter(lg);
}

.AdminTaxonomyPage-merge-controls-preview-placeholder {
  font-style: italic;
  color: $color-grey--5;
}

.AdminTaxonomyPage-merge-help {
  margin: gutter(md) 0;
  color: $color-grey--3;
  font-size: font-size(xxs);
  font-weight: 300;
}

.AdminTaxonomyPage-merge-breadcrumbs {
  display: inline-block;
  width: 100%;
  margin-top: gutter(xs);
  padding-top: gutter(xs);
  border-top: solid 0.1rem $color-grey--5;
  font-style: italic;
  font-size: font-size(xxs);
}

.AdminTaxonomyPage-browse {}

.AdminTaxonomyPage-source {
  padding: 0 gutter(md);
}
