@import "config.variables";
@import "config.functions";

.Textbox {
  display: block;
  padding: gutter(sm) gutter(md);
  width: 100%;
  max-width: 100%;
  background-color: #fff;
  font-family: $font-primary;
  font-size: font-size(sm);
  resize: none;

  &:active,
  &:focus {
    outline: none;
  }

  &::placeholder {
    color: $color-grey--5;
  }

  &[readonly] {
    opacity: 0.3;
  }
}

.Textbox--appearance-secondary {
  border: solid 0.1rem $color-grey--5;
}
