@import "config.variables";
@import "config.functions";

.ProblemCard .Card-card-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ProblemCard .Problem {
  flex: 1;
}

.ProblemCard-links {
  color: $color-accent--2;
  font-family: $font-secondary;
  font-size: font-size(xxs);
  text-transform: uppercase;
}
