// darker to lighter
$color-accent--1: #3f42b5;
$color-accent--2: #6a71d7;
$color-accent--teal-1: #0095B7;

// darker to lighter
$color-grey--1: #3a3945;
$color-grey--2: #4a4a4a;
$color-grey--3: #5d5c6b;
$color-grey--4: #87999b;
$color-grey--5: #cad2d3;
$color-grey--6: #dae0e1;
$color-grey--7: #edf1f2;
$color-grey--8: #f7faf9;

// darker to lighter
$color-red--1: #BB0011;
$color-red--2: #E9494A;

$color-box-shadow: rgba(#262626, 0.1);
$box-shadow: 0 2px 3px 0 $color-box-shadow;

$border-radius: 3px;

$font-primary: "Roboto Slab", Georgia, serif;
$font-secondary: "Source Sans Pro", Helvetica, Arial, sans-serif;

// used occasionally
$letter-spacing: 0.5px;

$container-max: 110rem;
$container-max-responsive: 70rem;

// some transitions
$transitionExpand: transform 150ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
$transformExpand: scale(1.03);
