@function font-size($size) {
  $sizes: (
    xxs: 1rem,
    xs: 1.1rem,
    sm: 1.2rem,
    md: 1.4rem,
    lg: 2rem,
    xl: 2.4rem,
    xx: 2.8rem
  );

  @if (map-has-key($sizes, $size)) {
    @return map-get($sizes, $size);
  } @else {
    @warn "$size doesn't exist in $sizes.";
  }
}

@function line-height($size) {
  $sizes: (
    sm: 1.1,
    md: 1.3,
    lg: 1.5
  );

  @if (map-has-key($sizes, $size)) {
    @return map-get($sizes, $size);
  } @else {
    @warn "$size doesn't exist in $sizes.";
  }
}

@function gutter($size) {
  $sizes: (
    xxs: 0.3rem,
    xs: 0.6rem,
    sm: 0.9rem,
    md: 1.5rem,
    lg: 2.1rem,
    xl: 3.6rem,
    xx: 4.5rem
  );

  @if (map-has-key($sizes, $size)) {
    @return map-get($sizes, $size);
  } @else {
    @warn "$size doesn't exist in $sizes.";
  }
}
