html {
  font-size: 10px;
}

body {
  overflow: hidden; // @note: may be removed depending on desired ux
  color: $color-grey--3;
  background-color: $color-grey--6;
  font-family: $font-primary;
  font-size: font-size(md);
  font-weight: 400;
  line-height: line-height(md);
}
