@import "config.variables";
@import "config.functions";

.Toolbar {
  position: relative;
  z-index: 2;
  display: flex;
  background-color: $color-grey--7;
  box-shadow: $box-shadow;
}

.Toolbar--fill {
  width: 100%;
}

.Toolbar--padded {
  padding: gutter(sm) gutter(md);
}

.Toolbar--noShadow {
  box-shadow: none;
}

.Toolbar-group {
  display: flex;
  align-items: center;
  border-right: solid 0.1rem $color-grey--6;

  &:last-child {
    border-right: 0;
  }
}

.Toolbar-group--fill {
  flex: 1;
}

.Toolbar-group--padded {
  padding: gutter(md);
}

.Toolbar-group--paddedX {
  padding: 0 gutter(md);
}

.Toolbar-group--alignRight {
  margin-left: auto;
}

.Toolbar-item {
  margin-right: gutter(md);
  color: $color-accent--2;
  font-family: $font-secondary;
  font-size: font-size(sm);
  letter-spacing: $letter-spacing;
  text-transform: uppercase;

  &:last-child {
    margin-right: 0;
  }
}
