@import "config.variables";
@import "config.functions";

/**
 * <QuickSearch />
 *
 * The container for quick search component.
 */

.QuickSearch {
  display: flex;
  flex-direction: row;
  width: 20rem;
}

.QuickSearch-hits {
  position: absolute;
  top: 100%;
  background: white;
  width: 100%;
  padding: gutter(sm) 0;
  box-shadow: $box-shadow;
}

.QuickSearch-no-results {
  padding: gutter(xs) gutter(md);
  font-size: font-size(sm);
}

/**
 * <QuickSearchHit />
 *
 * The simple hit component.
*/

.QuickSearch-hit {
  padding: gutter(xs) gutter(md);
  cursor: pointer;
}

.QuickSearch-hit:hover {
  background-color: rgba($color-accent--2, 0.1);
}

.QuickSearch-hit--disabled {
  color: $color-grey--5;
}

.QuickSearch-hit-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.QuickSearch-hit-item-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  width: 3rem;
  height: 3rem;
  margin-right: gutter(sm);
  img {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    display: block;
  }
}

.QuickSearch-hit-item-logo-placeholder {
  width: 100%;
  height: 100%;
  background-color: $color-grey--5;
}
