@import "config.variables";
@import "config.functions";

$n: 3;
$g: gutter(xl);
$w: (1/$n) * 100%;
$t: calc(#{$w} - (((#{$n} - 1)/#{$n}) * #{$g}));

.Card {
  position: relative;
  flex: 0 0 $t;
  max-width: $t;
  border: 1px solid $color-grey--6;
  background-color: #fff;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  transition: $transitionExpand;

  &:not(:nth-child(#{$n}n)) {
    margin-right: gutter(xl);
  }

  &:nth-child(n + #{$n + 1}) {
    margin-top: gutter(xl);
  }

  &.Card--fullWidth {
    flex: 1 0 100%;
    width: 100%;
    max-width: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: gutter(md);
  }
}

.Card:hover {
  transform: $transformExpand;
}

.Card-card-inner {
  padding: gutter(md);
}

.Card-card-header {
  display: flex;
  align-items: center;
}

.Card-card-header-title {
  overflow: hidden;
  margin: 0;
  padding: 0 (1.6rem + gutter(sm)) 0 0;
  color: $color-accent--2;
  flex: 1;
  font-family: $font-secondary;
  font-size: font-size(md);
  font-weight: 700;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Card-card-header-title--untitled {
  color: $color-grey--5;
}

.Card-card-meta {
  display: block;
  color: $color-grey--5;
  font-family: $font-secondary;
  font-size: font-size(xxs);
  text-transform: uppercase;
}

.Card-card-archive {
  position: absolute;
  top: gutter(md);
  right: gutter(md);
}

.Card-card-preview {
  position: relative;
  overflow: hidden;
  margin: gutter(sm) 0;
  padding: gutter(md);
  height: 10rem;
  background-color: $color-grey--7;
  pointer-events: none;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    width: 100%;
    height: gutter(xx);
    background: #ccc;
    background: linear-gradient(
      0deg,
      $color-grey--7 0%,
      rgba($color-grey--7, 0) 100%
    );
    content: "";
  }
}

.Card-card-footer {
  display: flex;
  align-items: center;
}

.Card-card-footer-content {
  flex: 1;
  text-align: right;
}

.Card-card-divider {
  border-bottom: 1px solid $color-grey--6;
  margin: gutter(xs) 0;
}
