@import "config.variables";
@import "config.functions";

// Drawing dims
// $dw = drawing width
$dw: 102.4rem;

// Level 1 package dims
// $dp = drawing package
// l1 = level 1
$dp-l1-maxPerRow: 5;
$dp-l1-gutter: gutter(sm);
$dp-l1-width: calc(
  100%/#{$dp-l1-maxPerRow} -
  (
    (#{$dp-l1-maxPerRow} - 1) /
    #{$dp-l1-maxPerRow} *
    #{$dp-l1-gutter}
  )
);
$dp-l1-height: 6rem; // magic number; refer to <ReactGridLayout />

// L1 left / right package dims
$dp-posLeftOrRight-l1-width: 4.5rem;
$dp-posLeftOrRight-l1-height: 100%;
$dp-posLeftOrRight-l1-paddingY: 3rem;

/**
 * <DrawingTool />
 *
 * Root component for the drawing tool.
 */

.DrawingTool {
  --themeSelectorShadow: $box-shadow;
  --packageLevelZeroShadow: $box-shadow;
}

/* Theme modifiers */

.DrawingTool--theme-brand {
  --themeColorOne: #213964;
  --themeColorTwo: #92CDCF;
  --themeColorThree: #445878;
  --themeColorFour: #A2B1B2;
  --themeColorFive: #D1E5E6;
  --themeColorAccent: #CC2228;

  --packagesLevelTwoAdditional: var(--themeColorOne);
  --packagesLevelTwoAdditionalAlt: var(--themeColorOne);

  --packageLevelZeroBackground: var(--themeColorThree);
  --packageLevelZeroHeading: #fff;
  --packageLevelZeroSubHeading: var(--themeColorFour);

  --packageLevelOneBackground: var(--themeColorFive);
  --packageLevelOneShadow: 0 0 0 0.1rem var(--themeColorOne);
  --packageLevelOneHeading: var(--themeColorOne);

  --packageLevelTwoBackground: var(--themeColorTwo);
  --packageLevelTwoShadow: inset 0 0 0 0.1rem var(--themeColorFour);
  --packageLevelTwoHeading: var(--themeColorOne);
  --packageLevelTwoShadowAlt: inset 0 0 0 0.1rem var(--themeColorOne);
}

.DrawingTool--theme-arq {
  --themeColorOne: #5d5c6b;
  --themeColorTwo: #87999b;
  --themeColorThree: #cad2d3;
  --themeColorFour: #dae0e1;
  --themeColorFive: #edf1f2;
  --themeColorAccent: #6a71d7;

  --packagesLevelTwoAdditional: var(--themeColorThree);
  --packagesLevelTwoAdditionalAlt: var(--themeColorTwo);

  --packageLevelZeroBackground: #fff;
  --packageLevelZeroHeading: var(--themeColorOne);
  --packageLevelZeroSubHeading: var(--themeColorThree);

  --packageLevelOneBackground: var(--themeColorFive);
  --packageLevelOneShadow: 0 0 0 0.1rem var(--themeColorFour);
  --packageLevelOneHeading: var(--themeColorOne);

  --packageLevelTwoBackground: #fff;
  --packageLevelTwoHeading: var(--themeColorTwo);
  --packageLevelTwoShadow: inset 0 0 0 0.1rem var(--themeColorFour);
  --packageLevelTwoShadowAlt: inset 0 0 0 0.1rem var(--themeColorTwo);
}

.DrawingTool--theme-fruity {
}

.DrawingTool--theme-aqua {
}

.DrawingTool--theme-bright {
}

.DrawingTool--theme-mellow {
}

.DrawingTool--theme-greenery {
  --themeColorOne: #2C5066;
  --themeColorTwo: #708384;
  --themeColorThree: #A2B1B2;
  --themeColorFour: #D1E5E6;
  --themeColorFive: #EAF3F3;
  --themeColorAccent: #457B9D;

  --packagesLevelTwoAdditional: var(--themeColorThree);
  --packagesLevelTwoAdditionalAlt: var(--themeColorTwo);

  --packageLevelZeroBackground: var(--themeColorAccent);
  --packageLevelZeroHeading: #fff;
  --packageLevelZeroSubHeading: var(--themeColorFour);

  --packageLevelOneBackground: var(--themeColorFive);
  --packageLevelOneShadow: 0 0 0 0.1rem var(--themeColorOne);
  --packageLevelOneHeading: var(--themeColorAccent);

  --packageLevelTwoBackground: var(--themeColorFour);
  --packageLevelTwoShadow: inset 0 0 0 0.1rem var(--themeColorThree);
  --packageLevelTwoHeading: var(--themeColorTwo);
  --packageLevelTwoShadowAlt: inset 0 0 0 0.1rem var(--themeColorTwo);
}

/* React grid overrides */

.DrawingTool {
  .react-grid-layout {
    transition: height 250ms cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .react-grid-item {
    transition: all 250ms cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .react-grid-item.cssTransforms {
  }

  .react-grid-item.resizing {
    box-shadow: $box-shadow;
  }

  .react-grid-item.react-draggable-dragging {
    box-shadow: $box-shadow;
  }

  .react-grid-item.react-grid-placeholder {
    opacity: 0.3;
  }

  &--theme-arq .react-grid-item.react-grid-placeholder {
    background: var(--themeColorAccent);
  }

  &--theme-greenery .react-grid-item.react-grid-placeholder {
    background: var(--themeColorOne);
  }

  .react-grid-item > .react-resizable-handle {
    position: absolute;
    bottom: gutter(xxs);
    right: gutter(xxs);
    margin: 0;
    padding: 0;
    width: gutter(md);
    height: gutter(md);
    background: none;
    border-width: 0 0.2rem 0.2rem 0;
  }

  &--theme-arq .react-grid-item > .react-resizable-handle {
    border-color: var(--themeColorThree);
  }

  &--theme-greenery .react-grid-item > .react-resizable-handle {
    border-color: var(--themeColorThree);
  }
}

/**
 * <DrawingToolToolbar />
 *
 * The action toolbar for the drawing tool.
 */

.DrawingTool-toolbar {
}

/**
 * <DrawingToolThemeSelector />
 *
 * The theme selction widget for the drawing tool.
 */

.DrawingTool-themeSelector {
  background-color: #fff;
  padding: gutter(md);
  box-shadow: var(--themeSelectorShadow);
}

.DrawingTool-themeSelector-group {
  display: flex;
  align-items: center;
  margin-bottom: gutter(md);

  &:last-child {
    margin-bottom: 0;
  }
}

.DrawingTool-themeSelector-theme {
  margin-right: gutter(lg);
}

/**
 * <DrawingToolContent />
 *
 * The main content area of the drawing tool.
 */

.DrawingTool-content {
  margin: 0 auto;
  max-width: $dw;
}

/**
 * <DrawingToolStatusBar>
 *
 * Indicates the current status of the drawing tool, e.g. loading state and
 * errors.
 */

.DrawingTool-statusBar {
  margin: 0 0 gutter(lg) 0;
}

.DrawingTool-statusBar-status {
  color: $color-grey--3;
  font-family: $font-secondary;
  font-size: font-size(sm);
  text-transform: uppercase;
  letter-spacing: $letter-spacing;
}

/**
 * <DrawingToolBreadcrumbs>
 */

.DrawingTool-breadcrumbs {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0 0 gutter(lg) 0;
  padding: 0;
}

.DrawingTool-breadcrumbs-item {
  margin-right: gutter(sm);
  color: var(--themeColorAccent);
  font-family: $font-secondary;
  font-size: font-size(sm);
  text-transform: uppercase;
  letter-spacing: $letter-spacing;

  &:last-child {
    margin-right: 0;
  }

  &::after {
    margin-left: gutter(sm);
    content: "\00bb";
  }

  &:last-child::after {
    display: none;
  }
}

/**
 * <DrawingToolOverlay />
 *
 * The annotation section of the drawing tool, which contains all the
 * additional elements displayed over the architecture representation.
 */

.DrawingTool-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 5; // needs to appear over <ReactGridLayout />

  g {
    pointer-events: all;
  }
}

/**
 * <DrawingToolAnnotationControls />
 *
 * The popover controls for a drawing annotation.
 */

.DrawingTool-annotation-controls {
  width: min-content;
  padding: gutter(xs);
  background-color: #fff;
  box-shadow: $box-shadow;
}

/**
 * <DrawingToolArchitecture />
 *
 * Container for the "artboard" section of the drawing tool, i.e. the visual
 * and interactive representation of the packages.
 */

.DrawingTool-architecture {
  width: $dw;
}

/**
 * Because we're only ever showing a depth of 2, let's style each depth level
 * for both `packages` and `package` in a distinctive manner to make
 * maintainability easier (at least in the short term).
 */

/**
 * <DrawingToolPackages />
 *
 * Packages.
 */

.DrawingTool-packages {
  &.level-0 {
    display: flex;
  }

  &.level-1 {
    display: flex;
    flex: 1;
  }

  &.level-2 {
    width: 100%;
    height: 100%;
    overflow: auto;
  }
}

/**
 * <DrawingToolPackagesPositionDefault />
 *
 * Default positioned packages.
 */

.DrawingTool-packagesPositionDefault {
  &.level-0 {
    flex: 1;
    &.title-1 {

    }
  }

  &.level-1 {
    flex: 1;
    cursor: grab;
  }

  &.level-2 {
  }
}

.DrawingTool-packagesPositionDefault-additional {
  &.level-0 {
  }

  &.level-1 {
    position: absolute;
    bottom: gutter(xxs);
    left: 50%;
    transform: translateX(-50%);
    color: var(--packagesLevelTwoAdditional);
    font-family: $font-secondary;
    font-size: font-size(xs);
    font-weight: 400;
    text-transform: uppercase;

    &:hover {
      color: var(--packagesLevelTwoAdditionalAlt);
    }
  }

  &.level-2 {
  }
}

/**
 * <DrawingToolPackagesPositionLeft />
 * <DrawingToolPackagesPositionRight />
 *
 * Left and right positioned packages.
 */

.DrawingTool-packagesPositionLeft,
.DrawingTool-packagesPositionRight {
  &.level-0 {
    position: relative;
    z-index: 2;
    display: flex;
    flex: 0 1 auto;
  }

  &.level-1 {
    position: relative;
    z-index: 2;
    display: flex;
    flex: 0 1 auto;
  }

  &.level-2 {
  }
}

.DrawingTool-packagesPositionLeft {
  &.level-0 {
    margin-right: gutter(sm);
  }

  &.level-1 {
    margin-right: gutter(sm);
  }

  &.level-2 {
  }
}

.DrawingTool-packagesPositionRight {
  &.level-0 {
    margin-left: gutter(sm);
  }

  &.level-1 {
    margin-left: gutter(sm);
  }

  &.level-2 {
  }
}

/**
 * <DrawingToolPackagePositionDefault />
 *
 * A single package in default position. By default, packages spread across rows
 * with a maximum number per row defined by `$dp-l1-maxPerRow`.
 *
 * The calculations are done in the variables up top to define width, height,
 * and gutters along side flexible boxes.
 */

.DrawingTool-packagePositionDefault {
  &.level-0 {
    position: relative;
    margin-bottom: gutter(sm);
    padding: gutter(lg);
    background-color: var(--packageLevelZeroBackground);
    box-shadow: var(--packageLevelZeroShadow);

    &:last-child {
      margin-bottom: 0;
    }

    &.title-1,
    &.hasChildren.title-1 {
      display: flex;
      flex-direction: row;
    }

    &.title-2,
    &.hasChildren.title-2 {
      display: flex;
      flex-direction: row-reverse;
    }
  }

  &.level-1 {
    padding: gutter(lg);
    width: 100%;
    height: 100%;
    background-color: var(--packageLevelOneBackground);
    box-shadow: var(--packageLevelOneShadow);

    &:not(.hasChildren) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }

    &.hasChildren {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }

    &.title-1,
    &.hasChildren.title-1 {
      flex-direction: row;
    }

    &.title-2,
    &.hasChildren.title-2 {
      flex-direction: row-reverse;
    }

    &.title-1,
    &.title-1.hasChildren,
    &.title-2,
    &.title-2.hasChildren {
      .DrawingTool-packages.level-2 {
        min-width: 0;
      }
    }
  }

  &.level-2 {
    margin-bottom: gutter(xs);

    $columns: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10; // Seems like a reasonable maximum

    @each $i in $columns {
      &.col-#{$i} {
        display: inline-block;
        width: calc(100% / #{$i} - #{gutter(xs)} * (#{$i} - 1) / #{$i});
        margin-right: gutter(xs);
        &:nth-child(#{$i}n) {
          margin-right: 0;
        }
      }
    }
  }
}

/* A single default package's header */

.DrawingTool-packagePositionDefault-header {
  &.level-0 {
    display: flex;
    justify-content: space-between;
  }

  &.level-1 {
    width: 100%;
  }

  &.level-2 {
  }
}

.DrawingTool-packagePositionDefault {
  &.level-0.hasChildren &-header.level-0 {
    margin-bottom: gutter(md);

    &.title-1,
    &.title-2 {
      flex: 0 1;
      margin-bottom: 0;
    }
    &.title-1 {
      margin-right: gutter(md);
    }
    &.title-2 {
      margin-left: gutter(md);
    }
  }

  &.level-0:not(.hasChildren) &-header.level-0 {
  }

  &.level-1.hasChildren &-header.level-1 {
    margin-bottom: gutter(sm);

    &.title-1,
    &.title-2 {
      height: 100%;
      flex: 0 1;
      margin-bottom: 0;
    }
    &.title-1 {
      margin-right: gutter(md);
    }
    &.title-2 {
      margin-left: gutter(md);
    }
  }

  &.level-1:not(.hasChildren) &-header.level-1 {
    height: 100%;
    min-width: 0; // @note: fix for flex containers wrapping text-overflow elements
    &.title-2 {
      width: auto;
    }
  }

  &.level-2.hasChildren &-header.level-2 {
  }

  &.level-2:not(.hasChildren) &-header.level-2 {
  }
}

/* A single default package's heading */

.DrawingTool-packagePositionDefault-heading {
  &.level-0 {
    color: var(--packageLevelZeroHeading);
    font-size: font-size(sm);
    font-weight: 400;

    &.title-1,
    &.title-2 {
      position: relative;
      padding: $dp-posLeftOrRight-l1-paddingY 0;
      writing-mode: vertical-lr;
      white-space: nowrap;
      text-align: center;
    }

    &.title-1 {
      transform: rotate(180deg);
    }
  }

  &.level-1 {
    overflow: hidden;
    margin: 0;
    padding: 0;
    color: var(--packageLevelOneHeading);
    font-family: $font-secondary;
    font-size: font-size(xs);
    font-weight: 400;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.title-1,
    &.title-2 {
      position: relative;
      height: $dp-posLeftOrRight-l1-height;
      writing-mode: vertical-lr;
      text-overflow: ellipsis;
    }

    &.title-1 {
      transform: rotate(180deg);
    }
  }

  &.level-2 {
    overflow: hidden;
    margin: 0;
    padding: gutter(sm) gutter(xs);
    color: var(--packageLevelTwoHeading);
    background-color: var(--packageLevelTwoBackground);
    font-family: $font-secondary;
    font-size: font-size(xs);
    font-weight: 400;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-shadow: var(--packageLevelTwoShadow);
    cursor: pointer;

    &:hover {
      box-shadow: var(--packageLevelTwoShadowAlt);
    }
  }
}

/* A single default package's sub heading */

.DrawingTool-packagePositionDefault-subHeading {
  &.level-0 {
    color: var(--packageLevelZeroSubHeading);
    font-family: $font-secondary;
    font-size: font-size(xs);
    text-transform: uppercase;
    letter-spacing: $letter-spacing;
    margin-right: gutter(md);

    &.title-1,
    &.title-2 {
      display: none;
    }
  }

  &.level-1 {
  }

  &.level-2 {
  }
}

/**
 * <DrawingToolPackagePositionLeft />
 * <DrawingToolPackagePositionRight />
 *
 * A single package in left/right position.
 */

.DrawingTool-packagePositionLeft,
.DrawingTool-packagePositionRight {
  &.level-0 {
    position: relative;
    flex: 0 0 $dp-posLeftOrRight-l1-width;
    min-width: $dp-posLeftOrRight-l1-width;
    min-height: $dp-posLeftOrRight-l1-height;
    background-color: var(--packageLevelZeroBackground);
    box-shadow: var(--packageLevelZeroShadow);
  }

  &.level-1 {
    position: relative;
    flex: 0 0 $dp-posLeftOrRight-l1-width;
    min-width: $dp-posLeftOrRight-l1-width;
    min-height: $dp-posLeftOrRight-l1-height;
    background-color: var(--packageLevelOneBackground);
    box-shadow: var(--packageLevelOneShadow);
  }

  &.level-2 {
  }
}

.DrawingTool-packagePositionLeft {
  &.level-0, &.level-1 {
    margin-right: gutter(sm);

    &:last-child {
      margin-right: 0;
    }
  }

  &.level-2 {
  }
}

.DrawingTool-packagePositionRight {
  &.level-0, &.level-1 {
    margin-left: gutter(sm);

    &:first-child {
      margin-left: 0;
    }
  }

  &.level-2 {
  }
}

/* Package left / right headers */

.DrawingTool-packagePositionLeft-header,
.DrawingTool-packagePositionRight-header {
  &.level-0 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: $dp-posLeftOrRight-l1-paddingY 0;
  }

  &.level-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: $dp-posLeftOrRight-l1-paddingY 0;
  }

  &.level-2 {
  }
}

.DrawingTool-packagePositionLeft-header {
  &.level-0 {
    transform: rotate(180deg);
  }

  &.level-1 {
    transform: rotate(180deg);
  }

  &.level-2 {
  }
}

.DrawingTool-packagePositionRight-header {
  &.level-0 {
  }

  &.level-1 {
  }

  &.level-2 {
  }
}

/* A single rotated package's heading */
.DrawingTool-packagePositionLeft-heading,
.DrawingTool-packagePositionRight-heading {
  &.level-0 {
    color: var(--packageLevelZeroHeading);
    font-size: font-size(sm);
    font-weight: 400;
    white-space: nowrap;
    writing-mode: vertical-lr;
  }

  &.level-1 {
    overflow: hidden;
    margin: 0;
    padding: 0;
    color: var(--packageLevelOneHeading);
    font-family: $font-secondary;
    font-size: font-size(xs);
    font-weight: 400;
    white-space: nowrap;
    writing-mode: vertical-lr;
  }

  &.level-2 {
  }
}

/**
 * <DrawingToolPackageControlsPositionDefault />
 *
 * Controls for default packages.
 */

.DrawingTool-packagePositionDefault {
  &.level-0 .DrawingTool-package-controlsPositionDefault.level-0,
  &.level-1 .DrawingTool-package-controlsPositionDefault.level-1 {
    position: absolute;
    top: gutter(xs);
    right: gutter(xs);
    opacity: 0;
    z-index: 2;
  }

  &.level-0:hover .DrawingTool-package-controlsPositionDefault.level-0,
  &.level-1:hover .DrawingTool-package-controlsPositionDefault.level-1 {
    opacity: 0.5;
  }

  &.level-0 .DrawingTool-package-controlsPositionDefault.level-0:hover,
  &.level-0 .DrawingTool-package-controlsPositionDefault.level-0.is-open,
  &.level-1 .DrawingTool-package-controlsPositionDefault.level-1:hover,
  &.level-1 .DrawingTool-package-controlsPositionDefault.level-1.is-open {
    opacity: 1;
  }
}

/**
 * <DrawingToolPackageControlsPositionLeft />
 * <DrawingToolPackageControlsPositionRight />
 *
 * Controls for left / right packages.
 */

.DrawingTool-packagePositionLeft,
.DrawingTool-packagePositionRight {
  .DrawingTool-package-controlsPositionLeft,
  .DrawingTool-package-controlsPositionRight {
    position: absolute;
    left: $dp-posLeftOrRight-l1-width/2;
    opacity: 0;
    transform: translate3d(-50%, 0, 0);
    z-index: 3;
  }

  &:hover .DrawingTool-package-controlsPositionLeft,
  &:hover .DrawingTool-package-controlsPositionRight {
    opacity: 0.5;
  }

  .DrawingTool-package-controlsPositionLeft:hover,
  .DrawingTool-package-controlsPositionLeft.is-open,
  .DrawingTool-package-controlsPositionRight:hover,
  .DrawingTool-package-controlsPositionRight.is-open {
    opacity: 1;
  }
}

.DrawingTool-packagePositionLeft {
  &.level-0 .DrawingTool-package-controlsPositionLeft.level-0,
  &.level-1 .DrawingTool-package-controlsPositionLeft.level-1 {
    top: gutter(xs);
  }
}

.DrawingTool-packagePositionRight {
  &.level-0 .DrawingTool-package-controlsPositionRight.level-0,
  &.level-1 .DrawingTool-package-controlsPositionRight.level-1 {
    bottom: gutter(xs);
  }
}

/**
 * <DrawingToolFooter />
 */

.DrawingTool-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: gutter(md) 0;
  color: $color-accent--2;
  font-family: $font-secondary;
  font-size: font-size(sm);
  text-transform: uppercase;
  letter-spacing: $letter-spacing;
}

.DrawingTool-footer .Logo {
  margin-left: gutter(xs);
}

/**
 * <DrawingToolCanvas />
 */

.DrawingTool-canvas {
  position: fixed;
  top: -9999px;
  left: -9999px;
  width: 100%;
  height: 100%;
  visibility: hidden;
}
