@import "config.variables";
@import "config.functions";

.Alert {
}

.Alert--isFullscreen {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: gutter(md);
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.Alert--padded {
  padding: gutter(md);
}

.Alert-heading,
.Alert-subheading {
  font-family: $font-secondary;
  font-weight: 400;
}

.Alert-heading {
  margin: 0 0 gutter(md) 0;
  color: $color-accent--2;
  font-size: font-size(lg);
  font-weight: 700;
  letter-spacing: $letter-spacing;
  text-transform: uppercase;
}

.Alert-subheading {
  margin: 0;
  font-size: font-size(md);
}
