@import "config.variables";
@import "config.functions";

.ProblemSearch {}

.ProblemSearch-results {
  height: 100%;
  overflow-y: auto;
}

/**
 * <ProblemSearchProblem />
 *
 * This is the search page version of <Problem />.
 */

.ProblemSearch-problem {
  position: relative;
  width: 100%;
  padding: gutter(lg) gutter(xl);
  background-color: #fff;
  box-shadow: $box-shadow;
  margin-bottom: gutter(sm);
}

.ProblemSearch-problem-capabilities {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: gutter(sm) -#{gutter(xs)};
}

.ProblemSearch-problem-capability {
  margin: gutter(xxs) gutter(xs);
}

/**
 * <ProblemSearchFilters />
 *
 * This is a simple container for problem search sidebar filters.
 */

.ProblemSearch-filters {
  display: flex;
  flex-direction: column;
  padding: gutter(md);
  margin-bottom: gutter(xl);
}
