@import "config.variables";
@import "config.functions";

.CompanySearchPage {}

.CompanySearchPage-results {
  height: 100%;
  overflow-y: auto;
}

/**
 * <CompanySearchFilters />
 *
 * This is a simple container for company search sidebar filters.
 */

.CompanySearchPage-filters {
  display: flex;
  flex-direction: column;
  padding: gutter(md);
  margin-bottom: gutter(xl);
}
