@import "config.variables";
@import "config.functions";

/**
 * <SearchBar />
 */

$search-bar-height: 2.5rem;
$search-bar-padding-v: gutter(sm);
$search-bar-padding-h: gutter(md);
$search-icon-w: 1.4rem;
$search-icon-h: 1.4rem;
$search-bar-border: 0.1rem;

.SearchBar {
  position: relative;
}

.SearchBar-input {
  display: block;
  padding:
    $search-bar-padding-v
    $search-bar-padding-h*2 + $search-icon-w
    $search-bar-padding-v $search-bar-padding-h;
  width: 100%;
  background-color: #fff;
  font-family: $font-primary;
  font-size: font-size(sm);
  line-height: $search-bar-height;

  &:active,
  &:focus {
    outline: none;
  }

  &::placeholder {
    color: $color-grey--5;
  }

  &[readonly] {
    opacity: 0.3;
  }
}

.SearchBar--appearance-secondary {
  .SearchBar-input {
    border: solid 0.1rem $color-grey--5;
  }
}

.SearchBar--hideIcon {
  .SearchBar-input {
    padding-right: $search-bar-padding-h;
  }
}

.SearchBar-icon {
  position: absolute;
  top: calc(50% - #{$search-icon-w/2});
  right: $search-bar-padding-h;
  display: block;
  width: $search-icon-w;
  height: $search-icon-h;
  appearance: none;
}

.SearchBar-source-filters {
  display: inline-block;
  margin-right: gutter(sm);
}
