@import "config.variables";
@import "config.functions";

/**
 * <Dashboard>
 *
 * The dashboard component controls the layout and appearance of the entire
 * dashboard. Whenever building new views, the dashboard component should be
 * leveraged.
 *
 * Example HTML:
 *
 * <Dashboard>
 *   <Dashboard.Header />
 *   <Dashboard.Section>
 *     <Dashboard.Column>
 *       ...
 *     </Dashboard.Column>
 *     <Dashboard.Column>
 *       ...
 *     </Dashboard.Column>
 *   </Dashboard.Section>
 * </Dashboard>
 */

.Dashboard {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100vw;
  min-width: $container-max;
  height: 100vh;
}

/**
 * <Dashboard.Header>
 *
 * The header of the dashboard. This runs across the top of the dashboard and
 * displays site-wide navigation.
 */

.Dashboard-header {
  display: flex;
  align-items: center;
  padding: 0 gutter(lg);
  flex: 0 0 5.4rem;
  width: 100%;
  max-height: 5.4rem;
  background: linear-gradient(to right, $color-accent--1, $color-accent--2);
}

.Dashboard-header-breadcrumbs,
.Dashboard-header-navigation {
  flex: 1;
}

.Dashboard-header-logo {
}

/**
 * <Dashboard.Section>
 *
 * Dashboard sections are a generic section area of the dashboard. They stack
 * vertically, because Dashboard's flex direction is column.
 *
 * By default, they span full width and an auto height. They are flex containers
 * as well, allowing child <Dashboard.Column/> elements to align themselves
 * inside.
 *
 * `--fit` modifies the section to occupy the remaning vertical space
 * `--above` modifies the section so sit above other sections
 */

.Dashboard-section {
  display: flex;
  min-height: 0; // @note: firefox fix
}

.Dashboard-section--fit {
  flex: 1; // @note: fit dashboard section to remaning dashbaord height space
  overflow: auto; // @note: allows scroll for collaborators dropdown
}

.Dashboard-section--above {
  position: relative;
  z-index: 2; // @note: gives higher stacking context to a dashboard section
}

/**
 * <Dashboard.Column>
 *
 * A primary column container for the dashboard. They should be children of
 * <Dashboard.Section> components. Dashboard columns automatically fill the
 * remaining horizontal space available to them, and they occupy as much height
 * as they need.
 *
 * `--fit` modifies the column to take up the remaining vertical height
 * `--size-` modifies the column widths based on a size key
 */

$dashboard-column-sm: 18.18181818%;
$dashboard-column-lg: 27.27272727%;

.Dashboard-column {
  flex: 1; // @note: dashboard cols fill space automatically unless size mod is specified
}

.Dashboard-column--fit { // @note: forces columns to fit remaining section height
  display: flex;
  flex-direction: column;
}

.Dashboard-column--size-sm {
  flex: 0 0 $dashboard-column-sm;
  max-width: $dashboard-column-sm;
}

.Dashboard-column--size-lg {
  flex: $dashboard-column-lg;
  max-width: $dashboard-column-lg;
}

.Dashboard-column--offsetLeft-sm {
  margin-left: $dashboard-column-sm;
}

.Dashboard-column--offsetLeft-lg {
  margin-left: $dashboard-column-lg;
}

.Dashboard-column--padded {
  padding: gutter(lg) 0;
}

.Dashboard-column--minWidth-sm {
  min-width: 25rem;
}

.Dashboard-column--minWidth-md {
  min-width: 36rem;
}

.Dashboard-column--theme-white {
  background-color: #fff;
}

.Dashboard-column--theme-light {
  background-color: $color-grey--7;
}

.Dashboard-column--theme-dark {
  background-color: $color-grey--1;
}

/**
 * <Dashboard.Content>
 *
 * The main content area of the dashboard. This is a scrollable content area,
 * and must live inside a <Dashboard.Column> section.
 */

.Dashboard-content {
  position: relative;
  z-index: 1;
  overflow: auto;
  flex: 1;
}

.Dashboard-content--align-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.Dashboard-content--padding-top { padding-top: gutter(xl); }
.Dashboard-content--padding-right { padding-right: gutter(xl); }
.Dashboard-content--padding-bottom { padding-bottom: gutter(xl); }
.Dashboard-content--padding-left { padding-left: gutter(xl); }

/**
 * <Dashboard.Toolbar>
 *
 * A toolbar component for the dashboard.
 */

.Dashboard-toolbar {
  position: relative;
  z-index: 2;
  width: 100%;
  background-color: $color-grey--7;
  box-shadow: $box-shadow;
}

.Dashboard-toolbar--padded {
  padding: gutter(sm);
}

.Dashboard-toolbar--display-flex {
  display: flex;
}

/**
 * <Dashboard.Footer>
 *
 * A footer component for the dashboard.
 */

.Dashboard-footer {
  padding: gutter(md) gutter(md);
  align-items: center;
}

.Dashboard-footer--text {
  text-align: center;
  font-size: font-size(xs);
  font-family: $font-secondary;
  font-weight: 700;
}
