@import "config.variables";
@import "config.functions";

/**
 * <Table>
 */

.Table {
  width: 100%;
  border: none;
  border-collapse: collapse;
}

/**
 * <Table.Header>
 */

.Table-header {
}

/**
 * <Table.Body>
 */

.Table-body {
  background-color: #fff;
  box-shadow: $box-shadow;
}

/**
 * <Table.Footer>
 */

.Table-footer {
}

/**
 * <Table.Row>
 */

.Table-row {
}

.Table-body .Table-row {
  border-bottom: solid 0.1rem $color-grey--7;

  &:last-child {
    border-bottom: none;
  }
}

/**
 * <Table.Cell>
 */

.Table-cell {
  padding-right: gutter(lg);
  padding-left: gutter(lg);
  text-align: left;
}

.Table-cell.Table-cell--alignRight {
  text-align: right;
}

.Table-header .Table-cell {
  padding-top: gutter(md);
  padding-bottom: gutter(md);
  color: $color-grey--5;
  font-family: $font-secondary;
  font-size: font-size(xxs);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: $letter-spacing;
}

.Table-body .Table-cell {
  padding-top: gutter(lg);
  padding-bottom: gutter(lg);
  color: $color-grey--3;
  font-family: $font-primary;
  font-size: font-size(sm);
}
