@import "config.variables";
@import "config.functions";

$avatar-sizes: (
  sm: 2.7rem,
  md: 3.6rem,
  lg: 4.5rem,
  xl: 5.4rem
);

.Avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: $color-accent--2;
  font-family: $font-secondary;
  text-transform: uppercase;
  border-radius: 50%;
}

@each $key, $value in $avatar-sizes {
  .Avatar--size-#{$key} {
    width: $value;
    height: $value;
    font-size: font-size($key);
  }
}

.AvatarGroup {
  display: flex;
}

.AvatarGroup--align-left {
  .Avatar {
    margin-left: gutter(xs);

    &:first-child {
      margin-left: 0;
    }
  }
}

.AvatarGroup--align-right {
  justify-content: flex-end;

  .Avatar {
    margin-right: gutter(xs);

    &:last-child {
      margin-right: 0;
    }
  }
}
