@import "config.variables";
@import "config.functions";

.TaxonomyTree {
  list-style: none;
  margin: 0;
  padding: 0;
  flex: 0 0 100%;
  width: 100%;
}

.TaxonomyTree-item {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: font-size(xxs);
  line-height: line-height(lg);
}

.TaxonomyTree-item {
}

.TaxonomyTree-item-actions {
  display: flex;
  align-items: center;
}

.TaxonomyTree-item-action {
  margin-right: gutter(sm);

  &:last-child {
    margin-right: 0;
  }
}

.TaxonomyTree-item-action-spacer {
  width: 1.4rem;
}

.TaxonomyTree-item-content {
  padding: gutter(xs)/2 0;
  flex: 1;
}

.TaxonomyTree-item-content--hasActions {
  margin-left: gutter(lg);
}

.TaxonomyTree-item-term {
  display: flex;
  align-items: center;
}

.TaxonomyTree-item-term-icon {
  margin-right: gutter(sm);
}

.TaxonomyTree-item-term-text {
}

.TaxonomyTree-item-term-text--highlight {
  font-weight: 700;
}

// @todo: sass loop this!!!

.TaxonomyTree--depth-0 > .TaxonomyTree-item {
  .TaxonomyTree-item-term {
  }
}

.TaxonomyTree--depth-1 > .TaxonomyTree-item {
  .TaxonomyTree-item-term {
    padding-left: gutter(lg);
  }
}

.TaxonomyTree--depth-2 > .TaxonomyTree-item {
  .TaxonomyTree-item-term {
    padding-left: gutter(lg) * 2;
  }
}

.TaxonomyTree--depth-3 > .TaxonomyTree-item {
  .TaxonomyTree-item-term {
    padding-left: gutter(lg) * 3;
  }
}

.TaxonomyTree--depth-4 > .TaxonomyTree-item {
  .TaxonomyTree-item-term {
    padding-left: gutter(lg) * 4;
  }
}

.TaxonomyTree--depth-5 > .TaxonomyTree-item {
  .TaxonomyTree-item-term {
    padding-left: gutter(lg) * 5;
  }
}

.TaxonomyTree--depth-6 > .TaxonomyTree-item {
  .TaxonomyTree-item-term {
    padding-left: gutter(lg) * 6;
  }
}

.TaxonomyTree--nowrap .TaxonomyTree-item {
  .TaxonomyTree-item-term {
    white-space: nowrap;
  }
}

.TaxonomyTree-item-source {
  margin: 0 0 gutter(xs) 0;
  padding-right: gutter(xs);
  flex: 0 0 100%;
  width: 100%;
  font-size: font-size(sm);
  text-transform: uppercase;
  text-align: right;
  background-color: $color-grey--7;
}
