@import "config.variables";
@import "config.functions";

.DocumentsLibrary {
  // overriding container min width on DocumentsLibrary only for now
  // page-by-page responsiveness; can change main $container-max eventually
  .Dashboard {
    min-width: $container-max-responsive;
  }
}

.DocumentsLibrary--onboarding-modal {
  width: 100%;
  height: 100%;
}

.DocumentsLibrary--onboarding-modal .Modal-content {
  width: 75vw;
  height: 100%;
  overflow: hidden;
}

.DocumentsLibrary-cards {
  display: flex;
  flex-flow: row wrap;
}

.DocumentsLibrary-empty {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.DocumentsLibrary-empty-header {
  font-family: $font-secondary;
  color: $color-accent--2;
  font-size: font-size(xl);
  margin-top: 0.5em;
}

.DocumentsLibrary-empty-description {
  width: 30%;
  font-size: font-size(sm);
  margin-bottom: 2em;
}
