@import "config.variables";
@import "config.functions";

.LibraryCard-card-architecture-placeholder {
  color: $color-grey--3;
  font-size: font-size(sm);
}

.LibraryCard-card-footer-timestamp {
  display: block;
  color: $color-grey--5;
  font-family: $font-secondary;
  font-size: font-size(xxs);

  strong {
    font-weight: inherit;
    text-transform: uppercase;
  }
}
