@import "config.variables";
@import "config.functions";

/**
 * <ActiveGraph />
 *
 * Root component for the architecture graph.
 */

.ActiveGraph {
  box-shadow: $box-shadow;
}

.ActiveGraph-title {
  margin: 0 0 gutter(md) 0;
  color: $color-grey--3;
  font-size: font-size(lg);
  font-weight: 700;
  line-height: line-height(sm);
}

.ActiveGraph-title--untitled {
  color: $color-grey--5;
}

/**
 * <ActiveGraphContent />
 *
 * A simple wrapper around the contents of the graph, i.e. the
 * title, and visualization itself.
 */

.ActiveGraph-content {
  position: relative; // relative position for absolute <Loader />
  display: flex;
  flex-direction: column;
  padding: gutter(xl) gutter(xx);
  min-height: 100%;
  background-color: #fff;
  box-shadow: $box-shadow;
}

/**
 * <ActiveGraphLayoutSelector />
 *
 * The layout selector for the graph visualization.
 */
.ActiveGraph-layoutSelector {
  background-color: #fff;
  padding: gutter(md);
  box-shadow: var(--themeSelectorShadow);
}

.ActiveGraph-layoutSelector-group {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: gutter(md);

  &:last-child {
    margin-bottom: 0;
  }
}

.ActiveGraph-layoutSelector-layout {
  margin-right: gutter(lg);
}
