@import "config.variables";
@import "config.functions";

.ArchitecturesLibrary {
  // overriding container min width on DocumentsLibrary only for now
  // page-by-page responsiveness; can change main $container-max eventually
  .Dashboard {
    min-width: $container-max-responsive;
  }
}

.ArchitecturesLibrary-cards {
  display: flex;
  flex-flow: row wrap;
}
