@import "config.variables";
@import "config.functions";

.Tree {
  list-style: none;
  margin: 0;
  padding: 0;
  flex: 0 0 100%;
  width: 100%;
}

.Tree-item {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: font-size(xxs);
  line-height: line-height(lg);
}

.Tree-item {
}

.Tree-item-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: gutter(xxs);
  margin: gutter(xxs) 0;
  cursor: pointer;
}

.Tree-item-wrapper--isHovered {
  background-color: rgba($color-accent--2, 0.2);
}

.Tree-item-wrapper--isHovered .Tree-item-tools {
  display: flex;
  flex-direction: row;
}

.Tree-item-wrapper--isOutlined {
  border: 1px dotted;
}

.Tree-item-tools {
  display: none;
  padding: 0 gutter(sm);
}

.Tree-item-tool {
  margin-left: gutter(xs);
}

.Tree-item-actions {
  display: flex;
  align-items: center;
}

.Tree-item-action {
  margin-right: gutter(sm);

  &:last-child {
    margin-right: 0;
  }
}

.Tree-item-content {
  padding: gutter(xs)/2 0;
  flex: 1;
}

.Tree-item-content--hasActions {
  margin-left: gutter(lg);
}

.Tree-item-term {
  display: flex;
  align-items: center;
}

.Tree-item-term-icon {
  margin-right: gutter(sm);
}

.Tree-item-term-text {}

.Tree-item-term-text--highlight {
  font-weight: 700;
}

.Tree-item-term-text--focus {
  color: $color-red--2;
}

.Tree-item-term-badges {
  margin-left: gutter(xs);
}

// @todo: sass loop this!!!

.Tree--depth-0 > .Tree-item {
  .Tree-item-term {
  }
}

.Tree--depth-1 > .Tree-item {
  .Tree-item-term {
    padding-left: gutter(lg);
  }
}

.Tree--depth-2 > .Tree-item {
  .Tree-item-term {
    padding-left: gutter(lg) * 2;
  }
}

.Tree--depth-3 > .Tree-item {
  .Tree-item-term {
    padding-left: gutter(lg) * 3;
  }
}

.Tree--depth-4 > .Tree-item {
  .Tree-item-term {
    padding-left: gutter(lg) * 4;
  }
}

.Tree--depth-5 > .Tree-item {
  .Tree-item-term {
    padding-left: gutter(lg) * 5;
  }
}

.Tree--depth-6 > .Tree-item {
  .Tree-item-term {
    padding-left: gutter(lg) * 6;
  }
}

.Tree--size-xs .Tree-item {
  font-size: font-size(xs);
}

.Tree--size-sm .Tree-item {
  font-size: font-size(sm);
}

.Tree--size-md .Tree-item {
  font-size: font-size(md);
}

.Tree--size-lg .Tree-item {
  font-size: font-size(lg);
}

.Tree--spacing-xs .Tree-item {
  padding: gutter(xs) 0;
}

.Tree--spacing-sm .Tree-item {
  padding: gutter(sm) 0;
}

.Tree-source {
  margin: 0 0 gutter(xs) 0;
  padding: gutter(xxs) gutter(xs);
  font-size: font-size(sm);
  text-transform: uppercase;
  text-align: right;
  background-color: $color-grey--7;
}

.Tree-author {
  margin: 0 0 gutter(xs) 0;
  float: right;
  font-style: italic;
  font-size: font-size(xxs);
}
