@import "config.variables";
@import "config.functions";

.TaxonomiesPage {
  // overriding container min width for now
  // page-by-page responsiveness; can change main $container-max eventually
  .Dashboard {
    min-width: $container-max-responsive;
  }
}

.TaxonomiesPage-content {
  margin-bottom: gutter(lg);
}

.TaxonomiesPage-source-title {
  margin: 0 0 gutter(sm) 0;
  color: $color-grey--3;
  font-size: font-size(lg);
  font-weight: 700;
  line-height: line-height(sm);
}

.TaxonomiesPage-action-content {
  min-width: 21rem;
}

.TaxonomiesPage-action-content .Checkbox {
  margin-top: gutter(md);
}

.TaxonomiesPage-action-content .Loader {
  margin-top: gutter(md);
}
