@import "config.variables";
@import "config.functions";

.PublishedArchitecturePage {
  // overriding container min width for now
  // page-by-page responsiveness; can change main $container-max eventually
  .Dashboard {
    min-width: $container-max-responsive;
  }
}
