@import "config.variables";
@import "config.functions";

$commentbox-avatar-size: 2.5rem;

/**
 * <CommentBox />
 */

.CommentBox {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  background-color: #fff;
}

.CommentBox-tools {
  position: absolute;
  top: gutter(xs);
  right: gutter(xs);
}

.CommentBox-tools-popover {
  color: $color-accent--2;
  font-family: $font-secondary;
  font-size: font-size(sm);
  letter-spacing: $letter-spacing;
  text-transform: uppercase;
}

.CommentBox-avatar {
  margin: gutter(md);
}

.CommentBox-input {
  margin: gutter(md) gutter(lg) gutter(md) 0;
  padding: 0;
  flex: 1;
}

.CommentBox-input-field {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #fff;
  font-size: font-size(sm);
  font-family: $font-secondary;
  resize: none;

  &:focus {
    outline: none;
  }

  &:disabled {
    opacity: 0.4;
  }

  &::placeholder {
    color: $color-grey--5;
    text-transform: lowercase;
  }
}

.CommentBox-input-field--disabled {
  cursor: default;
}

.CommentBox-actions {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: gutter(sm) gutter(md);
  flex: 0 0 100%;
  background-color: rgba($color-accent--2, 0.2);
}

.CommentBox-action {
  display: block;
  margin: 0;
  color: $color-accent--2;
  font-family: $font-secondary;
  font-size: font-size(xxs);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: $letter-spacing;
}

.CommentBox-actions--isSubmitting .CommentBox-action {
  visibility: hidden;
  pointer-events: none;
}

.CommentBox-actions-progress {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/**
 * <CommentBoxDeleted />
 */

.CommentBoxDeleted {
  font-size: font-size(xxs);
  padding: gutter(sm) gutter(md);
  background-color: $color-grey--5;
  font-style: italic;
  +.CommentBoxDeleted {
    margin-top: 1px;
  }
}
